<% layout('../views/layout/page.ejs') -%>
<% block('title', title); -%>
<form method="GET" class="form-horizontal" action="/merchant/subscribe">
    <button type="submit" class="btn btn-primary" data-loading-text="Отправляю">Купить подписку</button>
</form>